*.class
bin/*
bin/Bag.class
bin/Carrier.class
bin/Controller.class
bin/Item.class
bin/Main.class
bin/main.class
bin/Menu.class
bin/Module.class
bin/Order.class
bin/Order$OrderState.class
bin/Order$TypeOfSize.class
bin/Query.class
bin/Sneaker.class
bin/Sneaker$SneakerType.class
bin/Tshirt.class
bin/Tshirt$TshirtPattern.class
bin/Tshirt$TshirtSize.class
bin/User.class
